:root {
  font-size: 2.22vmin;

  --c-white: #fff;
  --c-black: #212121;

  --c-bg: var(--c-white);
  --c-inverted: var(--c-black);

  @media (prefers-color-scheme: dark) {
    --c-bg: var(--c-black);
    --c-inverted: var(--c-white);
  }
}

body {
  background: var(--c-bg);
  line-height: 1;
}

svg  {
  width: 1em;
  height: 1em;
  display: block;
  fill: var(--c-bg);
}

.save {
  display: block;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  background: var(--c-inverted);
}

.app {
  position: relative;
  width: 90vmin;
  margin: 10vmin auto;
  display: flex;
  flex-direction: row-reverse;
}

.cubes {
  //background: var(--c-inverted);

  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0vw;
  box-shadow: 0 0 0 4px var(--c-inverted);

  background-color: var(--c-bg);
  background-image: linear-gradient(transparent calc(100% - 1px), rgba(#000, .1)), linear-gradient(to right, transparent calc(100% - 1px), rgba(#000, .1));
  background-size: 12.5% 12.5%;

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(transparent calc(100% - 1px), rgba(#fff, .5)),
    linear-gradient(to right, transparent calc(100% - 1px), rgba(#fff, .5));
  }
}


.outlined .cube::after {
  box-shadow: inset 0 0 0 2px var(--c-bg);
}
.outlined .cube i {
  box-shadow: inset 0 0 0 4px var(--c-bg);
}

.cube {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: var(--bg);

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 101%;
    width: 101%;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--bg);
    transition: 200ms transform;

  }

  .view--pixels & {
    background-color: transparent;

    &::after {
      transform: translate(-50%, -50%) scale(.5);
    }
  }

  .view--itten & {
    &::after {
      z-index: 3;
      transform: translate(-50%, -50%) scale(.75);
    }
  }

  &__inner {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;

    height: 14.142135623730951vmin; // (80vw / 8) = 10 => Math.sqrt(Math.pow(10, 2) + Math.pow(10, 2))
    width: 14.142135623730951vmin;
    flex-wrap: wrap;
    transform: translate(-50%, -50%) rotate(-45deg);
    pointer-events: none;

    i {
      display: block;
      height: 50%;
      flex: 1 1 50%;
      transition: 233ms background-color linear,
                  333ms transform cubic-bezier(.7, .3, 0, 1),
                  333ms border-radius cubic-bezier(.7, .3, 0, 1);
      transform: scale(1.01);

      //will-change: transform, border-radius;


      .view--cubes--small & {
        transform: scale(.5);
      }

      .view--pixels & {
        transform: scale(.71) rotate(45deg);
      }

      .view--circles & {
        border-radius: 50%;
        transform: scale(1.4);
        mix-blend-mode: overlay; //multiply
      }

      .view--circles--small & {
        border-radius: 50%;
        transform: scale(0.5);
      }



      &.top {
        background: var(--mix-top);
      }

      &.right {
        background: var(--mix-right);
      }

      &.bottom {
        background: var(--mix-bottom);
      }

      &.left {
        background: var(--mix-left);
      }
    }
  }
}

.color-input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  font-size: 2rem;

  .mode--edit .filled & {
    display: block;
  }
}

.main-menu > li {
  transition: 300ms opacity 100ms;
}
.subnav-visible .main-menu > li {
  opacity: 0;
}
.subnav-visible .main-menu > .tools__group,
.subnav-visible .view-modes > li {
  opacity: 1;
}

.tools {
  z-index: 2;
  box-shadow: 0 0 0 4px var(--c-inverted);
  width: calc(80vmin/8);
  height: 80vmin;
  background: var(--c-bg);

  menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;

  }
  li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 0 12.5%;
    background: var(--c-inverted);
  }
}

.tools__group {
  position: relative;

  .view-modes {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    height: 80vmin;
    width: 100%;
    top: -400%;
    z-index: 4;
    transition: 300ms opacity;
  }
}


.icon--comp {
  position: relative;
}
.button--views .icon--comp i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  width: auto;
  height: auto;
  text-shadow: 3px 3px 0 var(--c-inverted);
  font-style: normal;
  line-height: 1;

  &:nth-child(1) {
    transform: translate(-50%, -70%);
    z-index: 2;
  }

  &:nth-child(2) {
    z-index:1;
    transform: translate(-90%, -30%);
  }

  &:nth-child(3) {
    transform: translate(-10%, -40%);
  }
}

.button--views[aria-expanded] +.view-modes {
  opacity: 1;
  pointer-events: all;
}

button,
select {
  position: absolute;
  display: block;
  appearance: none;
  border: none;
  background: var(--c-inverted);
  color: var(--c-bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 200ms;
  outline: none;
}

select {
  opacity: 0;
  padding: 1rem;
  font-size: 2rem;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-size: 2rem;
  pointer-events: none;
}

.button--cubes .icon,
.button--circles .icon {
  font-size: 4rem;
}

.mode--edit .button--edit,
.mode--erase .button--erase,
.view--cubes .button--cubes,
.view--cubes--small .button--cubes-small,
.view--circles .button--circles,
.view--circles--small .button--circles-small,
.view--itten .button--itten,
.view--pixels [data-mode="pixels"],
.outlined .button--outlined {
  transform: translate(-.4rem, -.4rem);
  box-shadow: 1px 1px 0 var(--c-bg),
    2px 2px 0 var(--c-bg),
    3px 3px 0 var(--c-bg),
    4px 4px 0 var(--c-bg),
    5px 5px 0 var(--c-bg),
    6px 6px 0 var(--c-bg),
    7px 7px 0 var(--c-bg);
}

.view--cubes .button--cubes,
.view--cubes--small .button--cubes-small,
.view--circles .button--circles,
.view--circles--small .button--circles-small,
.view--itten .button--itten,
.view--pixels [data-mode="pixels"] {
  .icon {
    opacity: 0;
  }
  &::after {
    font-size: 3.5rem;
    content: '×';
    color: var(--c-bg);
  }
}


@media (orientation:portrait) {
  .app {
    flex-direction: column;
  }
  .tools__group .view-modes {
    height: 100%;
    top: 0;
    left: -400%;
  }
  .tools {
    height: calc(80vmin/8);
    width: 80vmin;
    display: flex;
    li {
      flex: 0 0 calc(80vmin/7);
    }
    menu {
      flex-direction: row;
      width: calc(80vmin/8 * 7);
    }
  }
  .save {
    width: calc(80vmin/8);
    height: auto;
    flex: 0 0 calc(80vmin/8);
  }
}

.button--outlined .icon {
  font-size: 4em;
  margin-top: -.1em;
}
